<% if @champions.present? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mx-12 xl:mx-56 my-8">
    <% @champions.each do |champion| %>
          <%= link_to champion_path(champion) do %>

<div class="relative shadow-lg rounded-xl overflow-hidden group hover:scale-110 transition-all duration-500 ease-in-out">
  <!-- Champion Image -->
  <img 
    src="<%= champion.splash_art %>/centered" 
    alt="<%= champion.name %> Splash Art" 
    class="w-full h-72 object-cover rounded-xl group-hover:scale-150 transition-all duration-500 ease-in-out"
  >

  <!-- Overlay Gradient with League Colors -->
  <div class="absolute inset-0 bg-gradient-to-t from-[#0A1428]/95 via-[#091428]/40 to-transparent rounded-xl hover:border-[#C89B3C] hover:border-4 transition-all duration-100 ease-in-out"></div>

  <!-- Champion Info (Name and Title) -->
  <div class="absolute bottom-1 left-4 text-white p-2 rounded-md">
    <h2 class="text-3xl font-bold capitalize text-[#C8AA6E] group-hover:text-[#C89B3C] transition-all duration-300 ease-out "><%= champion.name %></h2>
    <p class="text-base text-[#F0E6D2] italic"><%= champion.title %></p>
  </div>
</div>

    <% end %>

    <% end %>
  </div>
<% else %>
  <p class="text-center text-gray-500">No champions available.</p>
<% end %>
