<div class="lg:max-w-screen-2xl mx-4 lg:mx-32 2xl:mx-auto mb-12 my-8 rounded-lg">
  <div class="grid grid-cols-1">

    <!-- Champion Splash Art and Lore -->
    <div class="flex flex-col items-center relative mx-4 md:mx-0">
<!-- Splash Art -->
<div class="relative w-full overflow-hidden">
  <%= image_tag @champion.splash_art, alt: "#{@champion.name} splash art", class: "w-full rounded-lg shadow-md" %>

  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-t from-[#0A1428] via-[#091428]/30 to-transparent rounded-t-lg"></div>

  <!-- Name and Title -->
  <div class="absolute -bottom-2 lg:-bottom-2 xl:-bottom-0 left-4 lg:left-6 text-white p-2 rounded-md w-full md:w-auto sm:text-left z-20">
    <h2 class="text-xl md:text-4xl xl:text-5xl font-bold text-[#C8AA6E] cursor-default">
      <%= @champion.name %>, <%= @champion.title %>
    </h2>
  </div>

  <!-- Abilities Icons (Overlay on Splash Art) -->
  <div class="absolute top-2 md:top-auto md:bottom-0 right-4 sm:right-6 sm:flex sm:flex-col space-y-2 2xl:space-y-0 2xl:flex-row 2xl:space-x-4 flex-wrap justify-center z-20">
    <% @champion.abilities.each do |ability| %>
      <div class="relative group w-5 h-5 sm:w-8 sm:h-8 md:h-12 md:w-12 xl:w-16 xl:h-16 rounded-lg shadow-lg cursor-pointer">
        <%= image_tag ability.image, alt: "#{ability.name} icon", class: "w-full h-full object-cover rounded-xl hover:scale-105 transition-all duration-300 ease-in-out" %>
        <div class="absolute -top-1 md:top-0 transform z-100 -translate-x-20 md:-translate-y-14 md:-translate-x-8 tooltip bg-[#0A1428] text-white text-xs md:text-base font-semibold w-20 md:w-32 px-2 py-2 rounded-md hidden text-center group-hover:block">
          <%= ability.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>






    

<!-- Types and Region Section -->
<div class="w-full bg-gradient-to-b from-[#0A1428] to-[#0A0C14]/20 pb-2  md:pt-4 md:pb-4 px-6 lg:px-8 rounded-b-lg shadow-md border-b border-slate-900">
  <div class="flex justify-between items-center space-x-8 mb-2">
    <!-- Displaying Champion Types -->
    <p class="text-sm md:text-xl font-semibold text-gray-300 hover:text-[#C8AA6E] cursor-default">
      <%= @champion.types.map(&:name).join(' | ') %>
    </p>
  
    <!-- Displaying Champion Region with Logo Pop-Up on Hover -->
    <div class="relative group text-xl font-semibold text-gray-300 text-right">
      <p class="text-sm md:text-xl font-semibold text-gray-300 text-right">
            <span class="text-sm md:text-xl font-medium text-gray-400 cursor-default">Region:</span> 
            <%= link_to @champion.region.name, region_path(@champion.region), class: "text-[#C8AA6E] hover:text-[#F0C808]" %>
          </p>
      
      <!-- Region Logo Pop-Up -->
      
    </div>
  </div>
</div>

  <!-- Lore Section -->
      <div class="mt-8 p-6 bg-gradient-to-r from-[#0A1428]/20 to-[#0A0C14]/20 rounded-lg shadow-md border border-[#C8AA6E]">
        <p class="text-base lg:text-lg text-gray-300 mx-2 cursor-default">
          <%= @champion.lore %>
        </p>
      </div>

<!-- Champion Skins Section -->
<div class="mt-8 p-4 w-full bg-gradient-to-r from-[#0A1428]/20 to-[#0A0C14]/20 pt-4 rounded-lg shadow-md border border-slate-900">
  <h3 class="text-3xl font-semibold mb-6 text-center text-[#C8AA6E] border-b pb-4 mx-6 border-[#C8AA6E]/20 cursor-default">Skins</h3>
  
  <% rarity_order = [ "common", "rare", "epic", "legendary", "mythic", "ultimate", "transcendent" ] %>
  <% grouped_skins = @champion.skins.group_by(&:rarity).sort_by { |rarity, _| rarity_order.index(rarity.downcase) || rarity_order.size } %>
  
  <% grouped_skins.each do |rarity, skins| %>
    <!-- Rarity Header -->
    <div class="mt-4 mb-2">
      <div class="flex flex-col items-center">
        <!-- Rarity Logo -->
        <img src="<%= asset_path(rarity.capitalize + '_logo.webp') %>" alt="<%= rarity %> logo" class="cursor-default hover:brightness-125 w-6 h-6 shadow-md transition-all duration-200 ease-in-out">
        <h4 class="text-2xl font-bold text-[#C8AA6E] mb-6 cursor-default"><%= rarity.capitalize %></h4>
      </div>
      
      <!-- Skins Grid - Dynamic columns based on number of skins -->
      <% grid_class = case skins.length
         when 1 then "grid-cols-1"
         when 2 then "grid-cols-1 sm:grid-cols-2"
         else "grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
         end %>
      
      <div class="grid <%= grid_class %> gap-8 mx-auto lg:mx-24">
        <% skins.each do |skin| %>
          <div class="relative group bg-gray-800 rounded-lg shadow-lg cursor-pointer hover:scale-105 transition-all duration-300 ease-in-out overflow-hidden flex justify-center items-center <%= 'max-w-2xl mx-auto' if skins.length < 3 %>">
            <%= image_tag skin.splash_art_centered, 
                alt: "#{skin.name} loading art",  loading: "lazy",
                class: "w-full h-full object-cover rounded-lg shadow-md group-hover:scale-110 saturate-[0.10] brightness-100 group-hover:saturate-[1.10] group-hover:brightness-[1.15] transition-all duration-500 ease-in-out",
                data: { skin_splash: skin.splash_art, skin_name: skin.name, skin_id: skin.id, skin_description: skin.description, skin_rarity: skin.rarity } %>

            <div class="absolute inset-0 border-0 group-hover:border-4 <%= 'border-' + skin.rarity.downcase %> group-hover:animate-pulse rounded-lg transition-all duration-300 ease-in-out" style="pointer-events: none;"></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>





    </div>
  </div>
</div>

<!-- Modal to Show Full Splash Art -->
<div id="splash-art-modal" class="fixed mx-2 inset-0 bg-black hidden bg-opacity-80 items-center justify-center z-50 flex">
  <div id="splash-art-modal-bg" class="bg-slate-950 p-3 rounded-xl max-w-6xl w-full relative">
    <div class="relative group flex justify-center">
      <img id="splash-art-image" src="/api/placeholder/800/400" alt="Splash Art" 
           class="max-w-full max-h-full object-contain rounded-xl shadow-[0_4px_15px_rgba(0,0,0,0.75)]">
<div class="absolute inset-0 flex flex-col justify-end items-start bg-gradient-to-t from-slate-950 via-slate-900/10 to-transparent opacity-100 group-hover:opacity-0 transition-opacity duration-700 ease-in-out rounded-xl">
        <div class="w-full relative">
          <div id="modal-skin-name" 
               class="bottom-0 left-0 px-6 py-0 translate-y-0 group-hover:translate-y-6
                      text-base md:text-2xl font-bold text-[#C8AA6E] text-center
                      transform transition-all duration-500  md:opacity-100 group-hover:opacity-0
                      group-hover:relative
                      group-hover:text-white" style="cursor: default; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);">
            Skin Name
          </div>
          <div id="modal-skin-description"
               class="px-6 pb-4 group-hover:pb-0 pt-2 text-sm md:text-lg text-white
                      opacity-100 group-hover:opacity-0 text-center
                      transition-all duration-300 ease-in-out">
            This is a longer description that might span multiple lines. We want to make sure our title adapts properly to however long this description might be. It could be quite extensive in some cases.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
 document.querySelectorAll('[data-skin-splash]').forEach(img => {
  img.addEventListener('click', function () {
    const splashArt = this.getAttribute('data-skin-splash');
    const skinName = this.getAttribute('data-skin-name');
    const skinDescription = this.getAttribute('data-skin-description');
    const rarity = this.getAttribute('data-skin-rarity'); // Get the rarity
    const modal = document.getElementById('splash-art-modal');
    const splashImage = document.getElementById('splash-art-image');
    const modalSkinName = document.getElementById('modal-skin-name');
    const modalSkinDescription = document.getElementById('modal-skin-description');
    const modalBg = document.getElementById('splash-art-modal-bg');
    
    // Remove existing rarity classes for background and border
    modalBg.classList.remove(
      'bg-mythic', 'bg-ultimate', 'bg-legendary', 'bg-transcendent', 'bg-common', 'bg-epic',
      'border-mythic', 'border-ultimate', 'border-legendary', 'border-transcendent', 'border-common', 'border-epic'
    );
    
    // Add the new rarity classes based on the skin's rarity
    if (rarity) {
      modalBg.classList.add(`bg-${rarity.toLowerCase()}`);
      modalBg.classList.add(`border-${rarity.toLowerCase()}`);
    }

    // Update modal content
    splashImage.src = splashArt;
    modalSkinName.textContent = skinName;
    modalSkinDescription.innerHTML = skinDescription || 'No description available.';
    modal.classList.remove('hidden');
  });
});

document.getElementById('splash-art-modal').addEventListener('click', function (e) {
  if (e.target === this) {
    this.classList.add('hidden');
  }
});


</script>

<style>
  #splash-art-image {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.75); /* Darker and more intense shadow */
}
.bg-mythic {
  background: linear-gradient(to bottom, rgba(122, 62, 237, 0.5), rgba(58, 33, 105, 0.5));
}

.bg-ultimate {
  background: linear-gradient(to bottom, rgba(255, 165, 0, 0.5), rgba(128, 74, 0, 0.5));
}

.bg-legendary {
  background: linear-gradient(to bottom, rgba(255, 50, 50, 0.5), rgba(128, 22, 22, 0.5));
}

.bg-transcendent {
  background: linear-gradient(to bottom, rgba(162, 162, 208, 0.5), rgba(82, 82, 140, 0.5));
}

.bg-common {
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0.5), rgba(64, 64, 64, 0.5));
}
.bg-rare {
  background: linear-gradient(to bottom, rgba(200, 170, 110, 0.7), rgba(200, 170, 110, 0.7)); /* #C8AA6E */
}

.bg-epic {
  background: linear-gradient(to bottom, rgba(0, 200, 255, 0.5), rgba(0, 102, 128, 0.5));
}

.bg-mythic-modal {
  background-color: rgba(89, 50, 145, 0.3); /* Darker #7943ED with 0.3 opacity */
}

.bg-ultimate-modal {
  background: rgba(204, 136, 0, 0.3); /* Darker #FFA500 with 0.3 opacity */
}

.bg-legendary-modal {
  background: rgba(204, 0, 0, 0.1); /* Darker #FF3232 with 0.3 opacity */
}
.bg-rare-modal {
  background: rgba(200, 170, 110, 0.3); /* Darker #C8AA6E with 0.3 opacity */
}
.bg-transcendent-modal {
  background: rgba(129, 129, 163, 0.3); /* Darker #A2A2D0 with 0.3 opacity */
}

.bg-common-modal {
  background: rgba(102, 102, 102, 0.3); /* Darker #808080 with 0.3 opacity */
}

.bg-epic-modal {
  background: rgba(0, 153, 204, 0.3); /* Darker #00C8FF with 0.3 opacity */
}




.border-mythic {
  border: 1px solid #7943ED;
}

.border-ultimate {
  border:1px solid #FFA500;
}

.border-legendary {
  border:1px solid #FF3232;
}

.border-rare {
  border: 1px solid #C8AA6E; /* Updated border color */
}

.border-transcendent {
  border:1px solid #A2A2D0;
}

.border-common {
  border:1px solid #808080;
}

.border-epic {
  border:1px solid #00C8FF;
}

/* Hover border classes */
.group-hover\:border-mythic:hover {
  border: solid #7943ED;
}

.group-hover\:border-ultimate:hover {
  border:  solid #FFA500;
}

.group-hover\:border-legendary:hover {
  border:  solid #FF3232;
}

.group-hover\:border-transcendent:hover {
  border:  solid #A2A2D0;
}

.group-hover\:border-common:hover {
  border: solid #808080;
}

.group-hover\:border-epic:hover {
  border:  solid #00C8FF;
}

</style>