<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Lol Card Game" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-r from-[#0A0C14] to-[#0A1428]">
    
    <!-- Navbar -->
    <nav class="p-4 text-white border-b-2 border-slate-900">
      <div class="flex justify-between items-center container mx-auto px-2 lg:px-32 2xl:px-20">
        <a href="/" class="text-[#C8AA6E] text-2xl font-bold">Runeterra Prime</a>

       <!-- Navbar Links (Hidden on mobile, shown on medium+ screens) -->
<div class="hidden md:flex space-x-4">
  <a href="/challenges" class="text-lg transition-all duration-200 ease-in-out <%= 'text-[#C8AA6E]' if request.path == '/challenges' %> <%= 'text-[#A09B8C] hover:text-[#C8AA6E]' unless request.path == '/challenges' %>">Challenges</a>
  <a href="/skins" class="text-lg transition-all duration-200 ease-in-out <%= 'text-[#C8AA6E]' if request.path == '/skins' %> <%= 'text-[#A09B8C] hover:text-[#C8AA6E]' unless request.path == '/skins' %>">Hextech Shop</a>
  <a href="/collections" class="text-lg transition-all duration-200 ease-in-out <%= 'text-[#C8AA6E]' if request.path == '/collections' %> <%= 'text-[#A09B8C] hover:text-[#C8AA6E]' unless request.path == '/collections' %>">Collection</a>
  <a href="/champions" class="text-lg transition-all duration-200 ease-in-out <%= 'text-[#C8AA6E]' if request.path == '/champions' %> <%= 'text-[#A09B8C] hover:text-[#C8AA6E]' unless request.path == '/champions' %>">Champions</a>
  <a href="/regions" class="text-lg transition-all duration-200 ease-in-out  <%= 'text-[#C8AA6E]' if request.path == '/regions' %> <%= 'text-[#A09B8C] hover:text-[#C8AA6E]' unless request.path == '/regions' %>">Regions</a>

  <% if user_signed_in? %>
    <div class="group relative inline-block z-20">
      <span class="text-lg cursor-pointer transition-all duration-200 ease-in-out text-[#A09B8C] hover:text-[#C8AA6E]">
        <%= current_user.username.capitalize %>
      </span>
      <div class="absolute -left-1/2 mt-4 w-28 bg-[#0A1428] text-[#A09B8C] shadow-lg rounded-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-100 ease-in-out hover:opacity-100 hover:visible">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "block text-lg hover:text-white text-center rounded-sm py-4 hover:bg-[#C8AA6E]" %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "block text-lg hover:text-red-500 text-center rounded-sm py-4 hover:bg-grey-800" %>
      </div>
    </div>
  <% else %>
    <a href="/users/sign_in" class="text-lg transition-all duration-200 ease-in-out <%= 'text-[#C8AA6E]' if request.path == '/users/sign_in' %> <%= 'text-[#A09B8C] hover:text-[#C8AA6E]' unless request.path == '/users/sign_in' %>">Login</a>
  <% end %>
</div>

        <!-- Adding Hextech Cores Image -->
        <div class="hidden sm:flex items-center space-x-2">
          <%= image_tag "hextech-core.png", alt: "Hextech Core", class: "w-6 h-6" %>
          <span class="text-lg text-[#C8AA6E]"><%= current_user.hextech_cores %></span>
        </div>

        <!-- Hamburger Menu (Visible only on mobile) -->
        <div class="md:hidden flex items-center">
          <button id="hamburger" class="text-[#C8AA6E] focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </nav>

    <!-- Mobile Menu -->
<div id="mobile-menu" class="md:hidden hidden bg-gradient-to-r from-[#0A0C14] to-[#0A1428] text-[#A09B8C] w-full mr-4">
  <div class="space-y-4 p-4 text-right px-6">
    <a href="/challenges" class="block text-lg pb-4  border-b border-[#C8AA6E]/40 <%= 'text-[#C8AA6E]' if request.path == '/skins' %> <%= 'hover:text-[#C8AA6E] ' unless request.path == '/skins' %>">Challenges</a>
    <a href="/skins" class="block text-lg pb-4  border-b border-[#C8AA6E]/40 <%= 'text-[#C8AA6E]' if request.path == '/skins' %> <%= 'hover:text-[#C8AA6E] ' unless request.path == '/skins' %>">Hextech Shop</a>
    <a href="/collections" class="block text-lg pb-4 border-b border-[#C8AA6E]/40 <%= 'text-[#C8AA6E]' if request.path == '/collections' %> <%= 'hover:text-[#C8AA6E] ' unless request.path == '/collections' %>">Collection</a>
    <a href="/champions" class="block text-lg pb-4 border-b border-[#C8AA6E]/40 <%= 'text-[#C8AA6E]' if request.path == '/champions' %> <%= 'hover:text-[#C8AA6E] ' unless request.path == '/champions' %>">Champions</a>
    <a href="/regions" class="block text-lg pb-4 border-b border-[#C8AA6E]/40 <%= 'text-[#C8AA6E]' if request.path == '/regions' %> <%= 'hover:text-[#C8AA6E] ' unless request.path == '/regions' %>">Regions</a>
    
    <% if user_signed_in? %>
      <a href="/users/edit" class="block text-lg pb-2 <%= 'text-[#C8AA6E]' if request.path == '/users/edit' %> <%= 'hover:text-[#C8AA6E]' unless request.path == '/users/edit' %>">Edit Profile</a>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "block text-lg pb-2 text-red-700 opacity-80 hover:opacity-100" %>
    <% else %>
      <a href="/users/sign_in" class="block text-lg pb-2 <%= 'text-[#C8AA6E]' if request.path == '/users/sign_in' %> <%= 'hover:text-[#C8AA6E] ' unless request.path == '/users/sign_in' %>">Login</a>
    <% end %>
  </div>
</div>

   
    <main class="mx-auto justify-center overflow-hidden">
      <%= yield %>
    </main>

 <p class="notice mt-8 mb-6 text-center text-[#C8AA6E]"><%= notice %></p>
    <p class="alert mt-8 mb-6 text-center text-[#C8AA6E]"><%= alert %></p>
  </body>

      <footer class="mt-12 pb-6 text-center text-sm text-[#A09B8C]">
      © <%= Time.now.year %> Runeterra Prime. All Rights Reserved.
    </footer>
</html>

<script>
  document.getElementById("hamburger").addEventListener("click", () => {
  const menu = document.getElementById("mobile-menu");
  menu.classList.toggle("translate-y-0");
  menu.classList.toggle("-translate-y-full");
});
</script>