<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Lol Card Game" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-r from-[#0A0C14] to-[#0A1428]">
    <!-- Navbar -->
<nav class="p-4 text-white border-b-2 border-slate-900">
  <div class="flex justify-between items-center container mx-auto">
    <a href="/" class="text-[#C8AA6E] text-2xl font-bold">Runeterra Champions</a>
    <div class="space-x-4">
      <a href="/champions" class="text-[#A09B8C] hover:text-[#C8AA6E] text-lg transition-all duration-200 ease-in-out">Champions</a>
      <a href="#" class="text-[#A09B8C] hover:text-[#C8AA6E] text-lg transition-all duration-200 ease-in-out">Regions</a>
    </div>
  </div>
</nav>

<main class="container mx-auto mt-12 flex">
  <%= yield %>
</main>

  </body>
</html>
